<p>producto-edicion works!</p>
<mat-card>Ingrese los datos del producto</mat-card>

<form class="example-container" [formGroup]="form" #frmProducto="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" minlength="3" required formControlName="nombre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Marca" required formControlName="marca">
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="DNI" required formControlName="dni" type="number">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Teléfono" required formControlName="telefono" type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Direccion" required formControlName="direccion">
    </mat-form-field> -->

    <button mat-raised-button color="primary" type="submit" [disabled]="frmProducto.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/producto' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>