<p>persona-dialogo works!</p>
<div>
    <mat-form-field>
        <input matInput placeholder="Nombres" [(ngModel)]="persona.nombres">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Apellidos" [(ngModel)]="persona.apellidos">
    </mat-form-field>
    <!-- <mat-form-field>
        <input matInput placeholder="CMP" [(ngModel)]="medico.cmp" max="15" maxlength="15" type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="foto" [(ngModel)]="medico.fotoUrl">
    </mat-form-field> -->
    <!-- <img mat-card-image [src]="persona.fotoUrl" alt="" width="50%" height="50%" *ngIf="persona.fotoUrl != null"> -->
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>